.App {
  text-align: center;
  background-color: #f2d8b3;
  height: 100%;
  min-height: 100vh;
  cursor: url(jimi.png), auto;
}

.theVideo {
  position: absolute;
  height: 100%;
  width: 43%;
  right: 0%;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  cursor: url(jimi.png), auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftside {
  background-image: url("https://www.greenbiz.com/sites/default/files/styles/og_image_1200x630/public/images/articles/featured/woodstockbaby.jpg?itok=fYEIh86Z");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  width: 43%;
  height: 100%;
  z-index: 7;
}

.rightside {
  background-color: #f2d8b3;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 43%;
  right: 0%;
  height: 100%;
  z-index: 7;
  overflow: scroll;
}

.rightsider {
  background-color: #f2d8b3;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 43%;
  right: 0%;
  height: 100%;
  z-index: 7;
}

.groupie {
  position: relative;
  top: -60px;
  animation: rotation 10s infinite linear;
}

a {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: url(jimi.png), auto;
}

a:hover {
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -o-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
  cursor: url(jimi.png), auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divvy {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100px;
  min-height: 100vh;
  width: 14%;
  margin: auto;
  background: #ffaf00;
  color: #992800;
  font-weight: bold;
  text-align: center;
}

html {
  height: 100%;
  min-height: 100vh;
}

/* .navlink {
  height: 33%;
  width: 100%;
  color: "#ffaf00";
} */

.divvy a {
  margin-top: 60%;
  margin-bottom: 55%;
  font-size: 40px;
  text-decoration: none;
  color: #992800;
  z-index: 1;
  cursor: url(jimi.png), auto;
}
/* 
.form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 4px solid #992800;
  margin: 0vw;
  padding: 5vw;
  position: relative;
  font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
  display: block;
  margin: 0 0 2vh 0;
}*/

.form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/* 
.form-box textarea {
  display: block;
  width: 90%;
  padding: 0.7rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 4%;
  color: #992800;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: scroll;
  resize: none;
  border: none;
} */

.commentbox textarea {
  display: block;
  width: 90%;
  padding: 2.7rem 0.8rem 02.7rem 0.8rem;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 4%;
  color: #992800;
  font-weight: bold;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  overflow: hidden;
  resize: none;
  border: none;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.form-box textarea {
  height: 15vh;
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 0 0 3vh 0; */
  color: #f0a402;
  font-weight: bold;
}

.form-box h3 {
  font-size: 35px;
  text-align: center;
  color: #992800;
  margin: 0 0 0.5vh 0;
}

select {
  -webkit-appearance: menulist-button;
  color: #992800;
  width: 40%;
  text-align: center;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  cursor: url(jimi.png), auto;
}

select:invalid {
  color: #992800;
  cursor: url(jimi.png), auto;
}

.selectWrapper {
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}
.selectBox {
  width: 250px;
  height: 40px;
  border: 0px;
  outline: none;
}

.wrap {
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #f0a402;
  background: #992800;
  background: linear-gradient(90deg, #f0a402 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #f0a402;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  cursor: url(jimi.png), auto;
}

.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #f0a402;
  box-shadow: 0 0 60px #f0a402;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  cursor: url(jimi.png), auto;
}

.button:hover,
.button:focus {
  color: #f0a402;
  transform: translateY(-6px);
  cursor: url(jimi.png), auto;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
  cursor: url(jimi.png), auto;
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #f0a402;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  cursor: url(jimi.png), auto;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
  cursor: url(jimi.png), auto;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.commentbox textarea {
  height: 50px;
  cursor: url(jimi.png), auto;
}

.card img {
  margin-top: 5px;
  width: 400px;
  height: 240px;
  border: 0.5px solid white;
  border-radius: 4px;
}

.back {
  margin-top: 5px;
  width: 400px;
  height: 240px;
  border: 0.5px solid white;
  border-radius: 4px;
  background-color: #992800;
  margin: auto;
  overflow: scroll;
}

.back p {
  overflow: hidden;
  height: 54px;
  font-size: 15px;
  font-weight: bold;
  cursor: url(jimi.png), auto;
}

.remove {
  min-width: 230px;
  min-height: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #f0a402;
  background: #992800;
  background: linear-gradient(90deg, #f0a402 100%);
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 10px;
  cursor: url(jimi.png), auto;
}

.remove::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(230px + 12px);
  min-height: calc(20px + 12px);
  border: 3px solid #f0a402;
  box-shadow: 0 0 60px #f0a402;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  cursor: url(jimi.png), auto;
}

.remove:hover::before,
.remove:focus::before {
  opacity: 1;
  cursor: url(jimi.png), auto;
}

.remove::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #f0a402;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url(jimi.png), auto;
}

/* .remove:hover::after,
.remove:focus::after {
  animation: none;
  display: none;
} */

h3 {
  color: #f0a402;
}

.audio {
  margin-top: 44%;
  cursor: url(jimi.png), auto;
}

.theVideo, button{
  cursor: url(jimi.png), auto;
}

.rec.rec-arrow {
  color: #f0a402;
  background-color: #992800;
  margin: 30px;
  cursor: url(jimi.png), auto;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-pagination {
  border-color:#992800;
  display: none
}

.rec.rec-arrow:hover {
  background-color: #992800;
  color: #992800;
}

/* .rec.rec-arrow:hover {
  border-radius: 50%;
  color: #f0a402;
  background-color: #992800
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
  color: #f0a402;
  background-color: #992800
} */